.vs/MyRestaurant/DesignTimeBuild/.dtbcache
.vs/MyRestaurant/config/applicationhost.config
.vs/MyRestaurant/v16/.suo
.vs/MyRestaurant/v16/Server/sqlite3/db.lock
.vs/MyRestaurant/v16/Server/sqlite3/storage.ide
.vs/MyRestaurant/v16/TestStore/0/000-0000.testlog
.vs/MyRestaurant/v16/TestStore/0/testlog.manifest
MyRestaurant.Web.Admin/obj/MyRestaurant.Web.Admin.csproj.nuget.cache
MyRestaurant.Web.Admin/obj/MyRestaurant.Web.Admin.csproj.nuget.dgspec.json
MyRestaurant.Web.Admin/obj/MyRestaurant.Web.Admin.csproj.nuget.g.props
MyRestaurant.Web.Admin/obj/MyRestaurant.Web.Admin.csproj.nuget.g.targets
MyRestaurant.Web.Admin/obj/project.assets.json
MyRestaurant.Web.Admin/obj/project.nuget.cache
MyRestaurant.Web.Admin/obj/Debug/netcoreapp3.1/MyRestaurant.Web.Admin.AssemblyInfo.cs
MyRestaurant.Web.Admin/obj/Debug/netcoreapp3.1/MyRestaurant.Web.Admin.AssemblyInfoInputs.cache
MyRestaurant.Web.Admin/obj/Debug/netcoreapp3.1/MyRestaurant.Web.Admin.assets.cache
MyRestaurant.Web.Admin/obj/Debug/netcoreapp3.1/MyRestaurant.Web.Admin.csproj.FileListAbsolute.txt
MyRestaurant.Web.Admin/obj/Debug/netcoreapp3.1/MyRestaurant.Web.Admin.csprojAssemblyReference.cache
MyRestaurant.Web.Admin/obj/Debug/netcoreapp3.1/MyRestaurant.Web.Admin.exe
MyRestaurant.Web.Admin/obj/Debug/netcoreapp3.1/MyRestaurant.Web.Admin.MvcApplicationPartsAssemblyInfo.cache
MyRestaurant.Web.Admin/obj/Debug/netcoreapp3.1/MyRestaurant.Web.Admin.MvcApplicationPartsAssemblyInfo.cs
MyRestaurant.Web.Admin/obj/Debug/netcoreapp3.1/MyRestaurant.Web.Admin.Views.dll
MyRestaurant.Web.Admin/obj/Debug/netcoreapp3.1/project.razor.json
src/MyRestaurant.Web.Api/obj/MyRestaurant.Web.Api.csproj.EntityFrameworkCore.targets
src/MyRestaurant.Web.Api/obj/MyRestaurant.Web.Api.csproj.nuget.cache
src/MyRestaurant.Web.Api/obj/MyRestaurant.Web.Api.csproj.nuget.dgspec.json
src/MyRestaurant.Web.Api/obj/MyRestaurant.Web.Api.csproj.nuget.g.props
src/MyRestaurant.Web.Api/obj/MyRestaurant.Web.Api.csproj.nuget.g.targets
src/MyRestaurant.Web.Api/obj/project.assets.json
src/MyRestaurant.Web.Api/obj/project.nuget.cache
src/MyRestaurant.Web.Api/obj/Debug/netcoreapp3.1/MyRestaurant.Web.Api.AssemblyInfo.cs
src/MyRestaurant.Web.Api/obj/Debug/netcoreapp3.1/MyRestaurant.Web.Api.AssemblyInfoInputs.cache
src/MyRestaurant.Web.Api/obj/Debug/netcoreapp3.1/MyRestaurant.Web.Api.assets.cache
src/MyRestaurant.Web.Api/obj/Debug/netcoreapp3.1/MyRestaurant.Web.Api.csproj.CopyComplete
src/MyRestaurant.Web.Api/obj/Debug/netcoreapp3.1/MyRestaurant.Web.Api.csproj.CoreCompileInputs.cache
src/MyRestaurant.Web.Api/obj/Debug/netcoreapp3.1/MyRestaurant.Web.Api.csproj.FileListAbsolute.txt
src/MyRestaurant.Web.Api/obj/Debug/netcoreapp3.1/MyRestaurant.Web.Api.csprojAssemblyReference.cache
src/MyRestaurant.Web.Api/obj/Debug/netcoreapp3.1/MyRestaurant.Web.Api.dll
src/MyRestaurant.Web.Api/obj/Debug/netcoreapp3.1/MyRestaurant.Web.Api.exe
src/MyRestaurant.Web.Api/obj/Debug/netcoreapp3.1/MyRestaurant.Web.Api.genruntimeconfig.cache
src/MyRestaurant.Web.Api/obj/Debug/netcoreapp3.1/MyRestaurant.Web.Api.MvcApplicationPartsAssemblyInfo.cache
src/MyRestaurant.Web.Api/obj/Debug/netcoreapp3.1/MyRestaurant.Web.Api.pdb
src/MyRestaurant.Web.Api/obj/Debug/netcoreapp3.1/MyRestaurant.Web.Api.RazorTargetAssemblyInfo.cache
src/MyRestaurant.Web.Api/obj/Debug/netcoreapp3.1/project.razor.json
src/MyRestaurant.Web.Api/obj/Debug/netcoreapp3.1/staticwebassets/MyRestaurant.Web.Api.StaticWebAssets.Manifest.cache
src/MyRestaurant.Web.Api/obj/Debug/netcoreapp3.1/staticwebassets/MyRestaurant.Web.Api.StaticWebAssets.xml
src/MyRestaurant.Web.Api/bin/Debug/netcoreapp3.1/appsettings.Development.json
src/MyRestaurant.Web.Api/bin/Debug/netcoreapp3.1/appsettings.json
src/MyRestaurant.Web.Api/bin/Debug/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
src/MyRestaurant.Web.Api/bin/Debug/netcoreapp3.1/Microsoft.Bcl.HashCode.dll
src/MyRestaurant.Web.Api/bin/Debug/netcoreapp3.1/Microsoft.Data.SqlClient.dll
src/MyRestaurant.Web.Api/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
src/MyRestaurant.Web.Api/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Design.dll
src/MyRestaurant.Web.Api/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
src/MyRestaurant.Web.Api/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
src/MyRestaurant.Web.Api/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.SqlServer.dll
src/MyRestaurant.Web.Api/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Abstractions.dll
src/MyRestaurant.Web.Api/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Memory.dll
src/MyRestaurant.Web.Api/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
src/MyRestaurant.Web.Api/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Binder.dll
src/MyRestaurant.Web.Api/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
src/MyRestaurant.Web.Api/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
src/MyRestaurant.Web.Api/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
src/MyRestaurant.Web.Api/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
src/MyRestaurant.Web.Api/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
src/MyRestaurant.Web.Api/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
src/MyRestaurant.Web.Api/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
src/MyRestaurant.Web.Api/bin/Debug/netcoreapp3.1/Microsoft.Identity.Client.dll
src/MyRestaurant.Web.Api/bin/Debug/netcoreapp3.1/MyRestaurant.Data.dll
src/MyRestaurant.Web.Api/bin/Debug/netcoreapp3.1/MyRestaurant.Data.pdb
src/MyRestaurant.Web.Api/bin/Debug/netcoreapp3.1/MyRestaurant.Models.dll
src/MyRestaurant.Web.Api/bin/Debug/netcoreapp3.1/MyRestaurant.Models.pdb
src/MyRestaurant.Web.Api/bin/Debug/netcoreapp3.1/MyRestaurant.Services.dll
src/MyRestaurant.Web.Api/bin/Debug/netcoreapp3.1/MyRestaurant.Services.pdb
src/MyRestaurant.Web.Api/bin/Debug/netcoreapp3.1/MyRestaurant.Web.Api.deps.json
src/MyRestaurant.Web.Api/bin/Debug/netcoreapp3.1/MyRestaurant.Web.Api.dll
src/MyRestaurant.Web.Api/bin/Debug/netcoreapp3.1/MyRestaurant.Web.Api.exe
src/MyRestaurant.Web.Api/bin/Debug/netcoreapp3.1/MyRestaurant.Web.Api.pdb
src/MyRestaurant.Web.Api/bin/Debug/netcoreapp3.1/MyRestaurant.Web.Api.runtimeconfig.dev.json
src/MyRestaurant.Web.Api/bin/Debug/netcoreapp3.1/MyRestaurant.Web.Api.runtimeconfig.json
src/MyRestaurant.Web.Api/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
src/MyRestaurant.Web.Api/bin/Debug/netcoreapp3.1/System.Collections.Immutable.dll
src/MyRestaurant.Web.Api/bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
src/MyRestaurant.Web.Api/bin/Debug/netcoreapp3.1/System.Diagnostics.DiagnosticSource.dll
src/MyRestaurant.Web.Api/bin/Debug/netcoreapp3.1/System.Runtime.Caching.dll
src/MyRestaurant.Web.Api/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
src/MyRestaurant.Web.Api/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
src/MyRestaurant.Web.Api/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.0/System.Runtime.Caching.dll
src/MyRestaurant.Web.Api/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
src/MyRestaurant.Web.Api/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.0/System.Runtime.Caching.dll
src/MyRestaurant.Web.Api/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
src/MyRestaurant.Web.Api/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
src/MyRestaurant.Web.Api/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/sni.dll
src/MyRestaurant.Web.Api/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/sni.dll
src/MyRestaurant.Web.Api/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/sni.dll
src/MyRestaurant.Web.Admin/bin/Debug/netcoreapp3.1/appsettings.Development.json
src/MyRestaurant.Web.Admin/bin/Debug/netcoreapp3.1/appsettings.json
src/MyRestaurant.Web.Admin/bin/Debug/netcoreapp3.1/MyRestaurant.Web.Admin.deps.json
src/MyRestaurant.Web.Admin/bin/Debug/netcoreapp3.1/MyRestaurant.Web.Admin.dll
src/MyRestaurant.Web.Admin/bin/Debug/netcoreapp3.1/MyRestaurant.Web.Admin.exe
src/MyRestaurant.Web.Admin/bin/Debug/netcoreapp3.1/MyRestaurant.Web.Admin.pdb
src/MyRestaurant.Web.Admin/bin/Debug/netcoreapp3.1/MyRestaurant.Web.Admin.runtimeconfig.dev.json
src/MyRestaurant.Web.Admin/bin/Debug/netcoreapp3.1/MyRestaurant.Web.Admin.runtimeconfig.json
src/MyRestaurant.Web.Admin/bin/Debug/netcoreapp3.1/MyRestaurant.Web.Admin.Views.dll
src/MyRestaurant.Web.Admin/bin/Debug/netcoreapp3.1/MyRestaurant.Web.Admin.Views.pdb
src/MyRestaurant.Web.Admin/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
src/MyRestaurant.Web.Admin/obj/MyRestaurant.Web.Admin.csproj.nuget.cache
src/MyRestaurant.Web.Admin/obj/MyRestaurant.Web.Admin.csproj.nuget.dgspec.json
src/MyRestaurant.Web.Admin/obj/MyRestaurant.Web.Admin.csproj.nuget.g.props
src/MyRestaurant.Web.Admin/obj/MyRestaurant.Web.Admin.csproj.nuget.g.targets
src/MyRestaurant.Web.Admin/obj/project.assets.json
src/MyRestaurant.Web.Admin/obj/project.nuget.cache
src/MyRestaurant.Web.Admin/obj/Debug/netcoreapp3.1/MyRestaurant.Web.Admin.AssemblyInfo.cs
src/MyRestaurant.Web.Admin/obj/Debug/netcoreapp3.1/MyRestaurant.Web.Admin.AssemblyInfoInputs.cache
src/MyRestaurant.Web.Admin/obj/Debug/netcoreapp3.1/MyRestaurant.Web.Admin.assets.cache
src/MyRestaurant.Web.Admin/obj/Debug/netcoreapp3.1/MyRestaurant.Web.Admin.csproj.CopyComplete
src/MyRestaurant.Web.Admin/obj/Debug/netcoreapp3.1/MyRestaurant.Web.Admin.csproj.FileListAbsolute.txt
src/MyRestaurant.Web.Admin/obj/Debug/netcoreapp3.1/MyRestaurant.Web.Admin.csprojAssemblyReference.cache
src/MyRestaurant.Web.Admin/obj/Debug/netcoreapp3.1/MyRestaurant.Web.Admin.dll
src/MyRestaurant.Web.Admin/obj/Debug/netcoreapp3.1/MyRestaurant.Web.Admin.exe
src/MyRestaurant.Web.Admin/obj/Debug/netcoreapp3.1/MyRestaurant.Web.Admin.genruntimeconfig.cache
src/MyRestaurant.Web.Admin/obj/Debug/netcoreapp3.1/MyRestaurant.Web.Admin.MvcApplicationPartsAssemblyInfo.cache
src/MyRestaurant.Web.Admin/obj/Debug/netcoreapp3.1/MyRestaurant.Web.Admin.pdb
src/MyRestaurant.Web.Admin/obj/Debug/netcoreapp3.1/MyRestaurant.Web.Admin.RazorAssemblyInfo.cache
src/MyRestaurant.Web.Admin/obj/Debug/netcoreapp3.1/MyRestaurant.Web.Admin.RazorAssemblyInfo.cs
src/MyRestaurant.Web.Admin/obj/Debug/netcoreapp3.1/MyRestaurant.Web.Admin.RazorCoreGenerate.cache
src/MyRestaurant.Web.Admin/obj/Debug/netcoreapp3.1/MyRestaurant.Web.Admin.RazorTargetAssemblyInfo.cache
src/MyRestaurant.Web.Admin/obj/Debug/netcoreapp3.1/MyRestaurant.Web.Admin.RazorTargetAssemblyInfo.cs
src/MyRestaurant.Web.Admin/obj/Debug/netcoreapp3.1/MyRestaurant.Web.Admin.TagHelpers.input.cache
src/MyRestaurant.Web.Admin/obj/Debug/netcoreapp3.1/MyRestaurant.Web.Admin.TagHelpers.output.cache
src/MyRestaurant.Web.Admin/obj/Debug/netcoreapp3.1/MyRestaurant.Web.Admin.Views.dll
src/MyRestaurant.Web.Admin/obj/Debug/netcoreapp3.1/MyRestaurant.Web.Admin.Views.pdb
src/MyRestaurant.Web.Admin/obj/Debug/netcoreapp3.1/project.razor.json
src/MyRestaurant.Web.Admin/obj/Debug/netcoreapp3.1/Razor/Views/_ViewImports.cshtml.g.cs
src/MyRestaurant.Web.Admin/obj/Debug/netcoreapp3.1/Razor/Views/_ViewStart.cshtml.g.cs
src/MyRestaurant.Web.Admin/obj/Debug/netcoreapp3.1/Razor/Views/Home/Index.cshtml.g.cs
src/MyRestaurant.Web.Admin/obj/Debug/netcoreapp3.1/Razor/Views/Home/Privacy.cshtml.g.cs
src/MyRestaurant.Web.Admin/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_Layout.cshtml.g.cs
src/MyRestaurant.Web.Admin/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
src/MyRestaurant.Web.Admin/obj/Debug/netcoreapp3.1/Razor/Views/Shared/Error.cshtml.g.cs
src/MyRestaurant.Web.Admin/obj/Debug/netcoreapp3.1/staticwebassets/MyRestaurant.Web.Admin.StaticWebAssets.Manifest.cache
src/MyRestaurant.Web.Admin/obj/Debug/netcoreapp3.1/staticwebassets/MyRestaurant.Web.Admin.StaticWebAssets.xml
src/MyRestaurant.Services/bin/Debug/netcoreapp3.1/MyRestaurant.Data.dll
src/MyRestaurant.Services/bin/Debug/netcoreapp3.1/MyRestaurant.Data.pdb
src/MyRestaurant.Services/bin/Debug/netcoreapp3.1/MyRestaurant.Models.dll
src/MyRestaurant.Services/bin/Debug/netcoreapp3.1/MyRestaurant.Models.pdb
src/MyRestaurant.Services/bin/Debug/netcoreapp3.1/MyRestaurant.Services.deps.json
src/MyRestaurant.Services/bin/Debug/netcoreapp3.1/MyRestaurant.Services.dll
src/MyRestaurant.Services/bin/Debug/netcoreapp3.1/MyRestaurant.Services.pdb
src/MyRestaurant.Services/bin/Debug/netstandard2.1/MyRestaurant.Data.dll
src/MyRestaurant.Services/bin/Debug/netstandard2.1/MyRestaurant.Data.pdb
src/MyRestaurant.Services/bin/Debug/netstandard2.1/MyRestaurant.Models.dll
src/MyRestaurant.Services/bin/Debug/netstandard2.1/MyRestaurant.Models.pdb
src/MyRestaurant.Services/bin/Debug/netstandard2.1/MyRestaurant.Services.deps.json
src/MyRestaurant.Services/bin/Debug/netstandard2.1/MyRestaurant.Services.dll
src/MyRestaurant.Services/bin/Debug/netstandard2.1/MyRestaurant.Services.pdb
src/MyRestaurant.Services/obj/MyRestaurant.Services.csproj.nuget.cache
src/MyRestaurant.Services/obj/MyRestaurant.Services.csproj.nuget.dgspec.json
src/MyRestaurant.Services/obj/MyRestaurant.Services.csproj.nuget.g.props
src/MyRestaurant.Services/obj/MyRestaurant.Services.csproj.nuget.g.targets
src/MyRestaurant.Services/obj/project.assets.json
src/MyRestaurant.Services/obj/project.nuget.cache
src/MyRestaurant.Services/obj/Debug/netcoreapp3.1/MyRestaurant.Services.AssemblyInfo.cs
src/MyRestaurant.Services/obj/Debug/netcoreapp3.1/MyRestaurant.Services.AssemblyInfoInputs.cache
src/MyRestaurant.Services/obj/Debug/netcoreapp3.1/MyRestaurant.Services.assets.cache
src/MyRestaurant.Services/obj/Debug/netcoreapp3.1/MyRestaurant.Services.csproj.CopyComplete
src/MyRestaurant.Services/obj/Debug/netcoreapp3.1/MyRestaurant.Services.csproj.FileListAbsolute.txt
src/MyRestaurant.Services/obj/Debug/netcoreapp3.1/MyRestaurant.Services.csprojAssemblyReference.cache
src/MyRestaurant.Services/obj/Debug/netcoreapp3.1/MyRestaurant.Services.dll
src/MyRestaurant.Services/obj/Debug/netcoreapp3.1/MyRestaurant.Services.pdb
src/MyRestaurant.Services/obj/Debug/netstandard2.0/MyRestaurant.Services.AssemblyInfo.cs
src/MyRestaurant.Services/obj/Debug/netstandard2.0/MyRestaurant.Services.AssemblyInfoInputs.cache
src/MyRestaurant.Services/obj/Debug/netstandard2.0/MyRestaurant.Services.assets.cache
src/MyRestaurant.Services/obj/Debug/netstandard2.0/MyRestaurant.Services.csprojAssemblyReference.cache
src/MyRestaurant.Services/obj/Debug/netstandard2.1/MyRestaurant.Services.AssemblyInfo.cs
src/MyRestaurant.Services/obj/Debug/netstandard2.1/MyRestaurant.Services.AssemblyInfoInputs.cache
src/MyRestaurant.Services/obj/Debug/netstandard2.1/MyRestaurant.Services.assets.cache
src/MyRestaurant.Services/obj/Debug/netstandard2.1/MyRestaurant.Services.csproj.CopyComplete
src/MyRestaurant.Services/obj/Debug/netstandard2.1/MyRestaurant.Services.csproj.CoreCompileInputs.cache
src/MyRestaurant.Services/obj/Debug/netstandard2.1/MyRestaurant.Services.csproj.FileListAbsolute.txt
src/MyRestaurant.Services/obj/Debug/netstandard2.1/MyRestaurant.Services.csprojAssemblyReference.cache
src/MyRestaurant.Services/obj/Debug/netstandard2.1/MyRestaurant.Services.dll
src/MyRestaurant.Services/obj/Debug/netstandard2.1/MyRestaurant.Services.pdb
src/MyRestaurant.Models/bin/Debug/netstandard2.1/MyRestaurant.Models.deps.json
src/MyRestaurant.Models/bin/Debug/netstandard2.1/MyRestaurant.Models.dll
src/MyRestaurant.Models/bin/Debug/netstandard2.1/MyRestaurant.Models.pdb
src/MyRestaurant.Models/obj/MyRestaurant.Models.csproj.nuget.cache
src/MyRestaurant.Models/obj/MyRestaurant.Models.csproj.nuget.dgspec.json
src/MyRestaurant.Models/obj/MyRestaurant.Models.csproj.nuget.g.props
src/MyRestaurant.Models/obj/MyRestaurant.Models.csproj.nuget.g.targets
src/MyRestaurant.Models/obj/project.assets.json
src/MyRestaurant.Models/obj/project.nuget.cache
src/MyRestaurant.Models/obj/Debug/netstandard2.0/MyRestaurant.Models.AssemblyInfo.cs
src/MyRestaurant.Models/obj/Debug/netstandard2.0/MyRestaurant.Models.AssemblyInfoInputs.cache
src/MyRestaurant.Models/obj/Debug/netstandard2.0/MyRestaurant.Models.assets.cache
src/MyRestaurant.Models/obj/Debug/netstandard2.0/MyRestaurant.Models.csprojAssemblyReference.cache
src/MyRestaurant.Models/obj/Debug/netstandard2.1/MyRestaurant.Models.AssemblyInfo.cs
src/MyRestaurant.Models/obj/Debug/netstandard2.1/MyRestaurant.Models.AssemblyInfoInputs.cache
src/MyRestaurant.Models/obj/Debug/netstandard2.1/MyRestaurant.Models.assets.cache
src/MyRestaurant.Models/obj/Debug/netstandard2.1/MyRestaurant.Models.csproj.CoreCompileInputs.cache
src/MyRestaurant.Models/obj/Debug/netstandard2.1/MyRestaurant.Models.csproj.FileListAbsolute.txt
src/MyRestaurant.Models/obj/Debug/netstandard2.1/MyRestaurant.Models.csprojAssemblyReference.cache
src/MyRestaurant.Models/obj/Debug/netstandard2.1/MyRestaurant.Models.dll
src/MyRestaurant.Models/obj/Debug/netstandard2.1/MyRestaurant.Models.pdb
src/MyRestaurant.Data/bin/Debug/netcoreapp3.1/MyRestaurant.Data.deps.json
src/MyRestaurant.Data/bin/Debug/netcoreapp3.1/MyRestaurant.Data.dll
src/MyRestaurant.Data/bin/Debug/netcoreapp3.1/MyRestaurant.Data.pdb
src/MyRestaurant.Data/bin/Debug/netcoreapp3.1/MyRestaurant.Data.runtimeconfig.dev.json
src/MyRestaurant.Data/bin/Debug/netcoreapp3.1/MyRestaurant.Data.runtimeconfig.json
src/MyRestaurant.Data/bin/Debug/netcoreapp3.1/MyRestaurant.Models.dll
src/MyRestaurant.Data/bin/Debug/netcoreapp3.1/MyRestaurant.Models.pdb
src/MyRestaurant.Data/bin/Debug/netstandard2.1/MyRestaurant.Data.deps.json
src/MyRestaurant.Data/bin/Debug/netstandard2.1/MyRestaurant.Data.dll
src/MyRestaurant.Data/bin/Debug/netstandard2.1/MyRestaurant.Data.pdb
src/MyRestaurant.Data/bin/Debug/netstandard2.1/MyRestaurant.Models.dll
src/MyRestaurant.Data/bin/Debug/netstandard2.1/MyRestaurant.Models.pdb
src/MyRestaurant.Data/obj/MyRestaurant.Data.csproj.EntityFrameworkCore.targets
src/MyRestaurant.Data/obj/MyRestaurant.Data.csproj.nuget.cache
src/MyRestaurant.Data/obj/MyRestaurant.Data.csproj.nuget.dgspec.json
src/MyRestaurant.Data/obj/MyRestaurant.Data.csproj.nuget.g.props
src/MyRestaurant.Data/obj/MyRestaurant.Data.csproj.nuget.g.targets
src/MyRestaurant.Data/obj/project.assets.json
src/MyRestaurant.Data/obj/project.nuget.cache
src/MyRestaurant.Data/obj/Debug/netcoreapp3.1/MyRestaurant.Data.AssemblyInfo.cs
src/MyRestaurant.Data/obj/Debug/netcoreapp3.1/MyRestaurant.Data.AssemblyInfoInputs.cache
src/MyRestaurant.Data/obj/Debug/netcoreapp3.1/MyRestaurant.Data.assets.cache
src/MyRestaurant.Data/obj/Debug/netcoreapp3.1/MyRestaurant.Data.csproj.CopyComplete
src/MyRestaurant.Data/obj/Debug/netcoreapp3.1/MyRestaurant.Data.csproj.CoreCompileInputs.cache
src/MyRestaurant.Data/obj/Debug/netcoreapp3.1/MyRestaurant.Data.csproj.FileListAbsolute.txt
src/MyRestaurant.Data/obj/Debug/netcoreapp3.1/MyRestaurant.Data.csprojAssemblyReference.cache
src/MyRestaurant.Data/obj/Debug/netcoreapp3.1/MyRestaurant.Data.dll
src/MyRestaurant.Data/obj/Debug/netcoreapp3.1/MyRestaurant.Data.genruntimeconfig.cache
src/MyRestaurant.Data/obj/Debug/netcoreapp3.1/MyRestaurant.Data.pdb
src/MyRestaurant.Data/obj/Debug/netstandard2.0/MyRestaurant.Data.AssemblyInfo.cs
src/MyRestaurant.Data/obj/Debug/netstandard2.0/MyRestaurant.Data.AssemblyInfoInputs.cache
src/MyRestaurant.Data/obj/Debug/netstandard2.0/MyRestaurant.Data.assets.cache
src/MyRestaurant.Data/obj/Debug/netstandard2.0/MyRestaurant.Data.csprojAssemblyReference.cache
src/MyRestaurant.Data/obj/Debug/netstandard2.1/MyRestaurant.Data.AssemblyInfo.cs
src/MyRestaurant.Data/obj/Debug/netstandard2.1/MyRestaurant.Data.AssemblyInfoInputs.cache
src/MyRestaurant.Data/obj/Debug/netstandard2.1/MyRestaurant.Data.assets.cache
src/MyRestaurant.Data/obj/Debug/netstandard2.1/MyRestaurant.Data.csproj.CopyComplete
src/MyRestaurant.Data/obj/Debug/netstandard2.1/MyRestaurant.Data.csproj.CoreCompileInputs.cache
src/MyRestaurant.Data/obj/Debug/netstandard2.1/MyRestaurant.Data.csproj.FileListAbsolute.txt
src/MyRestaurant.Data/obj/Debug/netstandard2.1/MyRestaurant.Data.csprojAssemblyReference.cache
src/MyRestaurant.Data/obj/Debug/netstandard2.1/MyRestaurant.Data.dll
src/MyRestaurant.Data/obj/Debug/netstandard2.1/MyRestaurant.Data.pdb
