
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div ng-app="message" ng-controller="messageController">
    <input type="hidden" id="Id" value="@ViewBag.Id" />


    <rst-list url="listurl" pagesize="10" columns="columns" configuration="gridConfiguration"></rst-list>
</div>


<script src="~/Scripts/app/services/message.service.js"></script>
<script src="~/Scripts/app/controller/message.cnt.js"></script>
<script src="~/Scripts/app/directive/directives.js"></script>