
@{
    ViewBag.Title = "Save";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel-grids" ng-app="offer" ng-controller="offerController">
    <div class="panel panel-primary" ng-init="getRestaurants()">
        <div class="panel-heading">
            <h3 class="panel-title">Offer Details</h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" name="offer" novalidate>
                <div class="row">
                    <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                        <div id="dynamic-table_filter" class="dataTables_filter">

                            <input type="hidden" id="Id" value="@ViewBag.Id" />
                            
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Offer Name</label>
                                    <div class="col-md-8">
                                        <div class="input-icon right">
                                            <i class="fa fa-fw fa-spin"></i>
                                            <input required ng-model="offerModel.offername" id="offername" name="offername" class="form-control1" type="text" placeholder="Offer Name">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Offer Description</label>
                                    <div class="col-md-8">
                                        <div class="input-icon right">
                                            <i class="fa fa-fw fa-spin"></i>
                                            <textarea name="offerdescription" ng-model="offerModel.offerdescription" class="form-control1" placeholder="Offer Description">

                                            </textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Restaurant</label>
                                    <div class="col-md-8">
                                        <div class="input-icon right">
                                            <i class="fa fa-fw fa-spin"></i>
                                            <select number-value name="restaurant" id="restaurant" ng-model="offerModel.restaurantid" class="form-control1">
                                                <option value="">Select..</option>
                                                <option ng-repeat="restaurant in restaurants" value="{{restaurant.id}}">{{restaurant.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Offer Start Date</label>
                                    <div class="col-md-8">
                                        <div class="input-icon right">
                                            <i class="fa fa-fw fa-spin"></i>
                                            <input type="text" id="startdate" placeholder="Offer Start Date" name="startdate" ng-model="offerModel.offerstartdate" class="form-control1"/>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Offer Start Date</label>
                                    <div class="col-md-8">
                                        <div class="input-icon right">
                                            <i class="fa fa-fw fa-spin"></i>
                                            <input type="text" id="enddate" placeholder="Offer End Date" name="enddate" ng-model="offerModel.offerenddate" class="form-control1" />
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Max Order</label>
                                    <div class="col-md-8">
                                        <div class="input-icon right">
                                            <i class="fa fa-fw fa-spin"></i>
                                            <input type="number" ng-model="offerModel.maxorder" class="form-control" />
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Offer Price</label>
                                    <div class="col-md-8">
                                        <div class="input-icon right">
                                            <i class="fa fa-fw fa-spin"></i>
                                           <input type="text" placeholder="Offer Price" class="form-control1" ng-model="offerModel.offerprice" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" ng-if="menuItems.length>0">
                                <div class="form-group">
                                    <label class="col-md-4 control-label" >Offer Items</label>
                                    <div class="col-md-8">
                                        <div class="input-icon right">
                                            <i class="fa fa-fw fa-spin"></i>
                                            <multiple-autocomplete after-select-item="addItem"
                                                                   ng-model="offerItems"
                                                                   after-remove-item="removeItem"
                                                                   suggestions-arr="menuItems"
                                                                   object-property="name">
                                            </multiple-autocomplete>

                                            @*<select multiple number-value required id="city" 
                                                    class="form-control1" name="city"
                                                    ng-model="offerModel.menuitems">
                                                <option value="0">Select..</option>
                                                <option ng-repeat="item in menuItems" value="{{item.id}}">{{item.itemname}}</option>
                                                
                                            </select>*@
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputFile" class="col-md-4 control-label">
                                        Logo
                                    </label>
                                    <div class="col-md-8">
                                        <div class="input-icon right">
                                            <i class="fa fa-fw fa-spin"></i>
                                            <rst-upload filetype="fileModel.filetype" filesize="fileModel.filesize"
                                                        extensions="png,jpg,jpeg,tif,gif" action="fileModel.uploadurl"
                                                        model="offerModel.offerimage" class="col-xs-12"></rst-upload>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" ng-if="offerModel.offerimage">
                                    <label for="exampleInputFile" class="col-md-4 control-label">
                                        Logo   Preview
                                    </label>
                                    <div class="col-md-8">
                                        <div class="input-icon right">
                                            <i class="fa fa-fw fa-spin"></i>
                                            <img ng-src="{{offerModel.offerimage}}" height="50" width="50" style="border-radius:3px;" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

              
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="exampleInputFile" class="col-md-2 control-label">

                            </label>
                            <div class="col-md-8">
                                <button ng-disabled="offer.$invalid" type="submit" ng-click="saveOffer()" class="btn btn-default">Save</button>
                                <input type="reset" ng-disabled="offer.$invalid" ng-click="reset()" class="btn btn-default" value="Reset" />

                            </div>

                        </div>
                    </div>
                    <div class="col-md-4"></div>

                </div>
            </form>

        </div>
    </div>
</div>
<script type="text/javascript" src="~/Scripts/app/services/restaurant.service.js"></script>
<script src="~/Scripts/app/services/menu.service.js"></script>
<script src="~/Scripts/app/services/offer.service.js"></script>
<script src="~/Scripts/app/controller/offer.cnt.js"></script>
<script src="~/Scripts/app/directive/directives.js"></script>
